{% extends "base.html" %}
{% block title %}Detalle del Libro{% endblock %}
{% block content %}
    <h2>Detalle del Libro</h2>
    <p><strong>Título:</strong> {{ libro.titulo }}</p>
    <p><strong>Autor:</strong> {{ libro.autor }}</p>
    <p><strong>Biblioteca:</strong> {{ libro.biblioteca }}</p>
    <!-- Agrega otros detalles relevantes del libro aquí -->
    <a href="{% url 'actualizar_libro' libro.id %}">Editar</a>
    <form action="{% url 'eliminar_libro' libro.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <br>
    <a href="{% url 'lista_libros' %}">Volver a la lista de libros</a>
{% endblock %}